{% assign url = page.url | prepend: site.baseurl | prepend: site.url %}
<section class="share">
  <h4>Share this post</h4>
  <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title | cgi_escape }}&amp;url={{ url }}"
  onclick="PopupCenter(this.href, 'twitter-share', 550, 235);return false;">
    <span class="hidden">Twitter</span>
  </a>
  <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
  onclick="PopupCenter(this.href, 'facebook-share', 580, 296);return false;">
    <span class="hidden">Facebook</span>
  </a>
  <a class="icon-google-plus" href="https://plus.google.com/share?url={{ url }}"
  onclick="PopupCenter(this.href, 'google-plus-share', 490, 530);return false;">
    <span class="hidden">Google+</span>
  </a>
</section>
