---
layout: default
header_class: author-head
post_class: author-template
---
{% assign author = site.data.authors[page.author] %}

{% if author.gravatar %}
{% capture author_image %}http://www.gravatar.com/avatar/{{ author.gravatar }}?size=250{% endcapture %}
{% endif %}

<section class="author-profile inner">
{% if author_image %}
  <figure class="author-image">
    <div class="img" style="background-image: url({{ author_image }})"><span class="hidden">{{ author.name }}'s Picture</span></div>
  </figure>
{% endif %}
  <h1 class="author-title">{{ author.name }}</h1>
{% if author.bio %}
  <h2 class="author-bio">{{ author.bio }}</h2>
{% endif %}

{% capture stats %}
{{ site.posts | where: "author",author.slug | size }}
{% endcapture %}

{% include author-meta.html stats=stats %}
</section>

<main class="content" role="main">
  {{ content }}
</main>
